<!doctype html>
<html>
	<head>
		<title>Meadowlark Travel</title>
	</head>
	<body>
		<header><img src="/img/logo.png" alt="Meadowlark Travel Logo">
		</header>	<!--header tag is introduced in html to provide additional semantic information about content that appears at the top of the page, such as logos, title text, or navigation-->
		{{{body}}}
	</body>
</html>